<a href="https://colab.research.google.com/github/jumadi-cloud/Fundamental-Python/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget -O konsumen2.csv https://raw.githubusercontent.com/jumadi-cloud/Fundamental-Python/main/Dataset/konsumen2.csv

--2021-09-24 08:53:40--  https://raw.githubusercontent.com/jumadi-cloud/Fundamental-Python/main/Dataset/konsumen2.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 239 [text/plain]
Saving to: ‘konsumen2.csv’

konsumen2.csv       100%[===================>]     239  --.-KB/s    in 0s

2021-09-24 08:53:40 (13.5 MB/s) - ‘konsumen2.csv’ saved [239/239]

In [ ]:
# Import Library yang digunakan

import pandas as pd

In [ ]:
# Menyiapkan data dan memangil dataset dari github

Dataset = pd.read_csv('https://raw.githubusercontent.com/jumadi-cloud/Fundamental-Python/main/Dataset/konsumen2.csv', error_bad_lines=False)
Dataset.keys()

Index(['Gaji', 'Pengeluaran'], dtype='object')

In [ ]:
# Menampilkan 5 baris data pertama dari dataset tersebut
dataku = pd.DataFrame(Dataset)
dataku.head()

   Gaji  Pengeluaran
0  2500         1750
1  3800         4200
2  3900         3800
3  4350         5500
4  4400         3200